# 3. Lists

 * Lists are ordered.
 * Lists can contain any arbitrary objects.
 * Lists elements can be accessed by index.
 * Lists can be nested to arbitrary depth.
 * Lists are mutable.
 * Lists are dynamic.

In [11]:
# Creating a list

x = ['Python',25,2023]
print(x)
print(type(x))
print(type(x[1]))

['Python', 25, 2023]
<class 'list'>
<class 'int'>

In [1]:
y = ['Python','Java','C','C++','R','Kotlin','Android']
print(y)
print(type(y))
print(type(y[1]))

['Python', 'Java', 'C', 'C++', 'R', 'Kotlin', 'Android']
<class 'list'>
<class 'str'>

In [9]:
print(type(y[0]))

<class 'str'>

In [18]:
x = ['Vaishnav',1.618,78,True,False]

print('Positive and Negative indexing of the first element: \n - Positive index:',x[0],'\n -  Negative index:', x[-5])
print('Positive and Negative indexing of the first element: \n - Positive index:',x[1],'\n -  Negative index:', x[-4])
print('Positive and Negative indexing of the first element: \n - Positive index:',x[2],'\n -  Negative index:', x[-3])
print('Positive and Negative indexing of the first element: \n - Positive index:',x[3],'\n -  Negative index:', x[-2])
print('Positive and Negative indexing of the first element: \n - Positive index:',x[4],'\n -  Negative index:', x[-1])

Positive and Negative indexing of the first element:
 - Positive index: Vaishnav
 -  Negative index: Vaishnav
Positive and Negative indexing of the first element:
 - Positive index: 1.618
 -  Negative index: 1.618
Positive and Negative indexing of the first element:
 - Positive index: 78
 -  Negative index: 78
Positive and Negative indexing of the first element:
 - Positive index: True
 -  Negative index: True
Positive and Negative indexing of the first element:
 - Positive index: False
 -  Negative index: False

In [19]:
y = ['Python','Java','C','C++','R','Kotlin','Android']

In [20]:
nlis=['Ram',2023,45.0,True,False,'1247']

# What can content a list?

 * String
 * Float
 * Integer
 * Boolean
 * Nested List
 * Nested Tuple
 * Other Data Structures

In [22]:
nlis = ['Python',3.14,2023,True,False,[1,1,2,2,3,3,4,5,5],('Hello','python',3.14,2023)]
print(nlis)

['Python', 3.14, 2023, True, False, [1, 1, 2, 2, 3, 3, 4, 5, 5], ('Hello', 'python', 3.14, 2023)]

In [2]:
z= ['Hello World',78.6,55,True, False, 0, 0.0,['Python',55,2023],('Hello',45,True,False)]

In [3]:
list1=['Hello','Python',145,26,478.0,0.45,('Hi','How',12.00,78),True,False,['Who','We',True,False]]

In [4]:
list2=[['Wow','Awasome',85,56,90.52,2000],('Ram',{1,2,3},'Python'),True,False,789.23,2023,{45,46,47}]

In [1]:
lis1=["Rice", "Chickpeas", "Pulses", "bread", "meat","Milk", "Bacon", "Eggs", "Rice Cooker", "Sauce","Chicken Pie", "Apple Pie", "Pudding"]

In [3]:
# Write a program to display welcome message with user name.

x = input('Enter Your Name:')
y = 'Welcome! '+ x
print(y)

Enter Your Name:Vaishnav
Welcome Vaishnav

In [1]:
# write a program to caluclate the operations to take three input from user and add two of them ane 
# last one is to subtract from all print the total.

# Write a program to calculate the percentage of any input taken form the user.
# Write the program to find the average calculation of user input number.
# f

# List operations

In [2]:
# Take a list

nlis=['Python',3.14,2023,[1,1,2,3,5,6,78,99,45],('Hello','Python',3.14,2023),True,False]
nlis

['Python',
 3.14,
 2023,
 [1, 1, 2, 3, 5, 6, 78, 99, 45],
 ('Hello', 'Python', 3.14, 2023),
 True,
 False]

# Slicing

In [11]:
# Slicing of a list

print(nlis[0:1])
print(type(nlis[0]))
print(nlis[1:2])

['Python']
<class 'str'>
[3.14]

In [10]:
print(type(nlis[0]))
print(type(nlis[1]))

<class 'str'>
<class 'float'>

# Extending the list

 * We use the extend() function to add a new element to the list.
 * With this function, we add more than one element to the list.

In [12]:
nlis1=['Python',3.14,2023,[1,1,2,3,5,6,78,99,45],('Hello','Python',3.14,2023)]

nlis1.extend(['Vaishnav',7,8])
nlis1

['Python',
 3.14,
 2023,
 [1, 1, 2, 3, 5, 6, 78, 99, 45],
 ('Hello', 'Python', 3.14, 2023),
 'Vaishnav',
 7,
 8]

In [20]:
print(nlis1[4][0])

Hello

# append() method

 * As different from the extend() method, with the append() mehtod, we add only one element to the list.
 * You can see the difference by comparing the above and below codes.

In [21]:
nlis2=['Python',3.14,2023,[1,1,2,3,5,6,78,99,45],('Hello','Python',3.14,2023)]

nlis2.append(['Hello World',1.618])
nlis2

['Python',
 3.14,
 2023,
 [1, 1, 2, 3, 5, 6, 78, 99, 45],
 ('Hello', 'Python', 3.14, 2023),
 ['Hello World', 1.618]]

# len(), append(), index(), insert(), max(), min(), sum() functions

In [54]:
list1=[1,2,3,4,5,6,7,8,9]

print(len(list1))

list1.append(500)
print(list1)

print(list1.count(5))  # How many 5 are on the list1
print(list1.index(2))  # What is the index number of the 2 in the list1
list1.insert(0,100) # Add string '100' to the index 0. 
print(list1)

print(max(list1)) # What is the maximum number in the list?
print(min(list1)) # What is the minimum number in the list?
print(sum(list1))

9
[1, 2, 3, 4, 5, 6, 7, 8, 9, 500]
1
1
[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 500]
500
1
645

In [25]:
x="Dhoni made his international debut in 2004. His talent with the bat came to the fore in an innings of 148 runs against Pakistan in his fifth international match. Within a year he joined the India Test team, where he quickly established himself with a century (100 or more runs in a single innings) against Pakistan. Despite his inexperience, Dhoni took over the captaincy of the one-day side in 2007 and led India to the Twenty20 (T20) world title. Series wins over Australia and Sri Lanka, among others, moved India to the top of the International Cricket Council (ICC) Test rankings for the first time in December 2009. Dhoni was honoured for his play with the ICC One Day International Player of the Year Award in 2008 and 2009. In the 2011 one-day World Cup, Dhoni's dashing innings of 91 not out—in front of a home crowd in Mumbai—paved the way for India’s victory over Sri Lanka in the final. He also led India to an appearance in the semifinals of the 2015 Cricket World Cup. Dhoni stopped serving as India’s captain in 2017, having led his country in 331 international matches, the most for a captain in the sport’s history. Three years later he retired from international competition."
print(len(x))

1193

# Changing the element of a list since it is mutable.

In [6]:
nlis3=['Python',3.14,2023,[1,1,2,3,5,6,78,99,45],('Hello','Python',3.14,2023)]

print('Before Changing:',nlis3)

nlis3[0]='Hello Python'
print('After Changing:',nlis3)

nlis3[1]='Sampada'
print('After Changing:',nlis3)

Before Changing: ['Python', 3.14, 2023, [1, 1, 2, 3, 5, 6, 78, 99, 45], ('Hello', 'Python', 3.14, 2023)]
After Changing: ['Hello Python', 3.14, 2023, [1, 1, 2, 3, 5, 6, 78, 99, 45], ('Hello', 'Python', 3.14, 2023)]
After Changing: ['Hello Python', 'Sampada', 2023, [1, 1, 2, 3, 5, 6, 78, 99, 45], ('Hello', 'Python', 3.14, 2023)]

In [12]:
nlis3=['Python',3.14,2023,[1,1,2,3,5,6,78,99,45],('Hello','Python',3.14,2023)]

print('Before Changing:',nlis3)

nlis3[3][2]='Vaishnav'
print('After Changing:',nlis3)

nlis3[4][0]='Hello World'
print('After Changing:',nlis3)

Before Changing: ['Python', 3.14, 2023, [1, 1, 2, 3, 5, 6, 78, 99, 45], ('Hello', 'Python', 3.14, 2023)]
After Changing: ['Python', 3.14, 2023, [1, 1, 'Vaishnav', 3, 5, 6, 78, 99, 45], ('Hello', 'Python', 3.14, 2023)]

TypeError: 'tuple' object does not support item assignment

# Deleting the element from the list using del() function.

In [17]:
print('Before Deleting:',nlis3)
del(nlis3[0])
print('After Deleting:',nlis3)

Before Deleting: [[1, 1, 'Vaishnav', 3, 5, 6, 78, 99, 45], ('Hello', 'Python', 3.14, 2023)]
After Deleting: [('Hello', 'Python', 3.14, 2023)]

In [20]:
nlis3=['Python',3.14,2023,[1,1,2,3,5,6,78,99,45],('Hello','Python',3.14,2023)]
print('Before Deleting:',nlis3)
del(nlis3[3][1])
print('After Deleting',nlis3)

Before Deleting: ['Python', 3.14, 2023, [1, 1, 2, 3, 5, 6, 78, 99, 45], ('Hello', 'Python', 3.14, 2023)]
After Deleting ['Python', 3.14, 2023, [1, 2, 3, 5, 6, 78, 99, 45], ('Hello', 'Python', 3.14, 2023)]

In [21]:
del(nlis3[4][0])
print('After Deleting:',nlis3)

TypeError: 'tuple' object doesn't support item deletion

In [22]:
del(nlis3[4])
print('After Deleting:',nlis3)

After Deleting: ['Python', 3.14, 2023, [1, 2, 3, 5, 6, 78, 99, 45]]

# Conversion of a string into a list using split() function.

In [23]:
message='Python is a programming language'
message.split()

['Python', 'is', 'a', 'programming', 'language']

# Use of split() function with a delimiter.

In [27]:
text='p,y,t,h,o,n'
text.split(',')

['p', 'y', 't', 'h', 'o', 'n']

# Basic operations

In [38]:
nlis_1=['a','b','Hello','Python']
nlis_2=[1,2,3,4,5,6]
print(len(nlis_1))
print(len(nlis_2))
print(nlis_1+nlis_2)
print(nlis_1*3)
print(nlis_2*3)
for i in nlis_1:
    print(i)
    
    
print(4 in nlis_1)
print(4 in nlis_2)

4
6
['a', 'b', 'Hello', 'Python', 1, 2, 3, 4, 5, 6]
['a', 'b', 'Hello', 'Python', 'a', 'b', 'Hello', 'Python', 'a', 'b', 'Hello', 'Python']
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
a
b
Hello
Python
False
True

In [39]:
print((nlis_1+nlis_2)*3)

['a', 'b', 'Hello', 'Python', 1, 2, 3, 4, 5, 6, 'a', 'b', 'Hello', 'Python', 1, 2, 3, 4, 5, 6, 'a', 'b', 'Hello', 'Python', 1, 2, 3, 4, 5, 6]

# Copy the list

In [41]:
x=['a','b','Hello','Python']
print('Original List',x)
copy_list=x
print('Copied List',copy_list)

Original List ['a', 'b', 'Hello', 'Python']
Copied List ['a', 'b', 'Hello', 'Python']

In [45]:
# The element in the copied list also changes when the element in the original list was changed.
y=['a','b','Hello','Python']
print(y)
copy_1=y
print(copy_1)

print('copy_1[0]:',copy_1[0])
y[0]='Hello Python'
print('copy_1[0]:',copy_1[0])

['a', 'b', 'Hello', 'Python']
['a', 'b', 'Hello', 'Python']
copy_1[0]: a
copy_1[0]: Hello Python

# clone the list.

In [47]:
# The cloned list is a new copy or clone the original list.

x=['a','b','Hello','Python']
print(x)
clone_lis=x[:]
print(clone_lis)

['a', 'b', 'Hello', 'Python']
['a', 'b', 'Hello', 'Python']

In [53]:
# When an element in the original list is changed, the element in the cloned list does not change.

x=['a','b','Hello','Python']
print(x)
clone_lis=x[:]
print(clone_lis)
print('clone_list[0]:',clone_lis[0])
x[0]='Hello World'
print(x)
print('clone_list[0]:',clone_lis[0])

['a', 'b', 'Hello', 'Python']
['a', 'b', 'Hello', 'Python']
clone_list[0]: a
['Hello World', 'b', 'Hello', 'Python']
clone_list[0]: a

# Concatenate the list

In [54]:
a_list=['a','b',['c','d'],'e']
b_list=[1,2,3,4,5,(6,7),True,False]

new_list=a_list+b_list
print(new_list)

['a', 'b', ['c', 'd'], 'e', 1, 2, 3, 4, 5, (6, 7), True, False]

# As different from the list, I also find the significant the following information.

# input() function
 * input() function in Python provides a user of a program supply inputs to the program at runtime.

In [2]:
text=input('Enter your name')
print('Your Name is:',text)
print(type(text))

Enter your name123
Your Name is: 123
<class 'str'>

In [4]:
# Althought the function wants to an inter, the type of the entered number is string.
number=input('Enter any integer:')
print('The number is:',number)
print(type(number))

Enter any integer:cat
The number is: cat
<class 'str'>

In [7]:
num1=int(input('Enter any number: '))
print('Your Number is:',num1)
print(type(num1))

Enter any number: 45
Your Number is: 45
<class 'int'>

In [9]:
x='8+8'
print(x)

8+8

# eval() function
 * This Function serves the aim of converting a string to an integer or a float.

In [16]:
expression='10+8+1011+789+45.236'
total=eval(expression)
print('Sum of the expression is',total)
print(type(expression))
print(type(total))

Sum of the expression is 1863.236
<class 'str'>
<class 'float'>

# format() function
 * This function helps to format the output printed on the screen with good look and attractive.

In [22]:
a = float(input('Enter the pi number: '))
b =float(input('Enter the golden ratio: '))
total=a+b
print('sum of {} and {} is {}.'.format(a,b,total))

Enter the pi number: 3.14
Enter the golden ratio: 1.618
sum of 3.14 and 1.618 is 4.758.

In [ ]:
list1=['Hello','Hy',456.50,123,0.9,['World','Welcome'],True,False]
list2=['Say','Cat',('Hello World','Congrates',12345,456.02),False]
list3=[123,456,789,456,425]
list4=['Vaishnav','Aarohi',('Padmavat','Ashoka',785,108,45.36),True,'World'[45,85]]
list5=[455,789,753,45.258,{12,13,'Hello','World'},False,True,'Gaming']
list6=[45,78,95,85,100,1200,45,63]
list7=[78,95,85,63,45,12,100,1230,7895]