# 4. Tuples in Python

Tuples are immutable list and cannot be changed in any way once it is created.


 * Tuples are defined in the same way as lists.
 * They are enclosed within parenthesis and not within the sequare braces.
 * Tuples are ordered, indexed collections of data.
 * Similar to string indices, the first value in the tuple will have the index[0], the second value [1]
 * Tuples also has the same structure where commas separate the values.
 * Tuples can store duplicate values.
 * Tuples allow you to store several data items including string, integer, float in one variable.

In [3]:
# Take a example of tuple


tuple_1=('Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1))
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1))

In [2]:
print(type(tuple_1))

<class 'tuple'>

In [12]:
print(type(tuple_1[0]))

<class 'str'>

# Indexing

In [13]:
print(tuple_1[-11])
print(type(tuple_1[-11]))
print(tuple_1[1])
print(type(tuple_1[1]))

Hello
<class 'str'>
Python
<class 'str'>

# Concatenation of tuples

To Concatenate tuples, + sign is used

In [14]:
tuple_2=tuple_1+('Vaishnav','Durgesh','Sampada','Tanuja',2023)
print(tuple_2)

('Hello', 'Python', 3.14, 1.618, True, False, 32, [1, 2, 3], {1, 2, 3}, {'A': 3, 'B': 8}, (0, 1), 'Vaishnav', 'Durgesh', 'Sampada', 'Tanuja', 2023)

In [15]:
tuple_3=tuple_1+tuple_2
print(tuple_3)

('Hello', 'Python', 3.14, 1.618, True, False, 32, [1, 2, 3], {1, 2, 3}, {'A': 3, 'B': 8}, (0, 1), 'Hello', 'Python', 3.14, 1.618, True, False, 32, [1, 2, 3], {1, 2, 3}, {'A': 3, 'B': 8}, (0, 1), 'Vaishnav', 'Durgesh', 'Sampada', 'Tanuja', 2023)

In [21]:
#Repetition of a tuple

rep_tup=(1,2,3,4)
rep_tup*2

(1, 2, 3, 4, 1, 2, 3, 4)

# Membership

In [24]:
rep_tup=(1,2,3,4)
print(type(rep_tup))

print(5 in rep_tup)
print(4 in rep_tup)
print(10 in rep_tup)
print(4  not in rep_tup)

<class 'tuple'>
False
True
False
False

# Iteration

In [26]:
rep_tup = (1,2,3,4)

for x in rep_tup:
    print(x)

1
2
3
4

# cmp() function

It is to campare two tuples and Return True or False.

# min() function

In [31]:
rep_tup = (0,1,2,3,4,100,-1)

print(min(rep_tup))
print(max(rep_tup))

-1
100

# tup(seq) function

In [36]:
seq='ATGCGTAZP'
print(type(seq))
print(tuple(seq))
print(type(tuple(seq)))

<class 'str'>
('A', 'T', 'G', 'C', 'G', 'T', 'A', 'Z', 'P')
<class 'tuple'>

# Slicing

 * To obtains a new tuple from the current tuple, the silicing method is ueed.

In [43]:
tuple_1=('Hello','Python',3.14,1.618,True,False,32,100,[1,2,3],{1,2,3},{'A':2,3:'B'},('Hello',123))

print(tuple_1)

('Hello', 'Python', 3.14, 1.618, True, False, 32, 100, [1, 2, 3], {1, 2, 3}, {'A': 2, 3: 'B'}, ('Hello', 123))

In [47]:
print(tuple_1[5:6])

(False,)

# len() function

 * To obtain how many elements there are in tuple, use len() functions.

In [48]:
tuple_1=('Hello','Python',3.14,1.618,True,False,32,100,[1,2,3],{1,2,3},{'A':2,3:'B'},('Hello',123))

len(tuple_1)

12

# Sorting tuple

In [51]:
# Tuples can be sorted and save as a new tuple.

tuple_2=(0,9,8,5,6,4,1,3,5,1,5,24,56)
sorted_tuple_2=sorted(tuple_2)
print(sorted_tuple_2)

[0, 1, 1, 3, 4, 5, 5, 5, 6, 8, 9, 24, 56]

# Nested tuple

 In Python, a tuple written inside another tuple is known as a nested tuple.

In [52]:
# Take a nested tuple


nested_tuple=('Biotechnology',(0,5),('Fermentation','ethanol'),(3.14,'pi',(1.618,'Golden Ratio')))

nested_tuple

('Biotechnology',
 (0, 5),
 ('Fermentation', 'ethanol'),
 (3.14, 'pi', (1.618, 'Golden Ratio')))

In [53]:
# Now priting the each element of the nested tuple.

print('Item 0 of nested tuple is:',nested_tuple[0])

Item 0 of nested tuple is: Biotechnology

# Tuples are immutable.

In [59]:
# Take a tuple as an example

tuple_4=(1,2,3,4,5)
tuple_4[0]=100
print(tuple_4)


# The output shows the tuple is immutable

TypeError: 'tuple' object does not support item assignment

# Delete a tuple


 * An element in a tuple can not be deleted since it is immutable.
 * But a whole tuple can be deleted.

In [61]:
tuple_5=(1,3,5,7,8,9)

print('Before Deleting:',tuple_5)

del(tuple_5)   #del----delete command
print('After Deleting:',tuple_5)

Before Deleting: (1, 3, 5, 7, 8, 9)

NameError: name 'tuple_5' is not defined