# 4. Tuples in Python

Tuples are immutable list and cannot be changed in any way once it is created.


 * Tuples are defined in the same way as lists.
 * They are enclosed within parenthesis and not within the sequare braces.
 * Tuples are ordered, indexed collections of data.
 * Similar to string indices, the first value in the tuple will have the index[0], the second value [1]
 * Tuples also has the same structure where commas separate the values.
 * Tuples can store duplicate values.
 * Tuples allow you to store several data items including string, integer, float in one variable.

In [3]:
# Take a example of tuple


tuple_1=('Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1))
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1))

In [2]:
print(type(tuple_1))

<class 'tuple'>

In [12]:
print(type(tuple_1[0]))

<class 'str'>

# Indexing

In [13]:
print(tuple_1[-11])
print(type(tuple_1[-11]))
print(tuple_1[1])
print(type(tuple_1[1]))

Hello
<class 'str'>
Python
<class 'str'>

# Concatenation of tuples

To Concatenate tuples, + sign is used

In [14]:
tuple_2=tuple_1+('Vaishnav','Durgesh','Sampada','Tanuja',2023)
print(tuple_2)

('Hello', 'Python', 3.14, 1.618, True, False, 32, [1, 2, 3], {1, 2, 3}, {'A': 3, 'B': 8}, (0, 1), 'Vaishnav', 'Durgesh', 'Sampada', 'Tanuja', 2023)

In [15]:
tuple_3=tuple_1+tuple_2
print(tuple_3)

('Hello', 'Python', 3.14, 1.618, True, False, 32, [1, 2, 3], {1, 2, 3}, {'A': 3, 'B': 8}, (0, 1), 'Hello', 'Python', 3.14, 1.618, True, False, 32, [1, 2, 3], {1, 2, 3}, {'A': 3, 'B': 8}, (0, 1), 'Vaishnav', 'Durgesh', 'Sampada', 'Tanuja', 2023)

In [21]:
#Repetition of a tuple

rep_tup=(1,2,3,4)
rep_tup*2

(1, 2, 3, 4, 1, 2, 3, 4)