# 5. Sets in Python

 * Set is one of 4 built-in data types in Python used to store collections of data including List, Tuple, and Dictionary.
 * Sets are unordered, but you can remove items and add new items.
 * Set elements are unique. Duplicate elements are not allowed.
 * A set itself may be modified, but the elements contained in the set must be of an  immutable type.
 * Sets are used to store multiple items in a single variable.
 * You can denote a set with a pair of curly brackets {}.

In [6]:
# The empty set of curly braces denotes the empty dictionary, not empty set.

x = {}
print(x)
print(type(x))

{}
<class 'dict'>

In [7]:
y = set()
print(y)
print(type(y))

set()
<class 'set'>

In [10]:
# Take a example:

set1={'Hello','Python',3.14,'Hello World',3.14,1.618,True,False,2023,4,4,4,4,4,4,}
print(set1)

{False, 1.618, True, 3.14, 4, 2023, 'Hello World', 'Hello', 'Python'}

In [12]:
nlis=['Hello','Python',3.14,'Hello World',3.14,1.618,True,False,2023,4,4,4,4,4,4]
print(nlis)

# Convert the list into set

set2=set(nlis)
print(set2)

['Hello', 'Python', 3.14, 'Hello World', 3.14, 1.618, True, False, 2023, 4, 4, 4, 4, 4, 4]
{False, 1.618, True, 3.14, 4, 2023, 'Hello World', 'Hello', 'Python'}

# Set operations

In [1]:
# Take a sample set.
set3={'Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023}
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

In [2]:
set4=set(['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023])
set4

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

# add() function

 * To add an element into a set, We use the funtion add(), If the same element is added to the set,  nothing will heppen because the set accepts no duplicates.

In [18]:
# Addition of an element to the set.

set4=set(['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023])

print(set4)

set4.add('Hi, Python')
print(set4)

{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 2023}
{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 'Hi, Python', 2023}

In [13]:
set4.add('Hi, Python')
print(set4)

{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 'Hi, Python', 2023, 'Hi, Pytho'}

# update() function

 * To add multiple elements into the set

In [23]:
x_set={6,7,8,9}
print(x_set)

{8, 9, 6, 7}

In [24]:
x_set.update({3,4,5,6,6,6,6,6,6,6,})
print(x_set)

{3, 4, 5, 6, 7, 8, 9}

# remove() function

 * To remove an element from the set

In [25]:
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

In [27]:
set3.remove('Hello Python')
print(set3)

{False, 1.618, True, 3.14, 'Hello World', 2023}

In [29]:
set3

{1.618, 2023, 3.14, False, 'Hello World', True}

# discard() funtions

It leaves the set unchange if the element to be deleted is not available in the set.

In [30]:
set3.discard(3.14)
set3

{1.618, 2023, False, 'Hello World', True}

In [31]:
set3.discard(3.14)
set3

{1.618, 2023, False, 'Hello World', True}

In [32]:
set3.discard('Durgesh')
set3

{1.618, 2023, False, 'Hello World', True}

In [33]:
set3.remove('Durgesh')
set3

KeyError: 'Durgesh'

In [38]:
# To verify if the element is in the set.

print(set3)

print(1.618 in set3)
print(True not in set3)

{False, 1.618, True, 'Hello World', 2023}
True
False

# Logical Operations in sets

In [39]:
set4=set(['Hello Python',3.14,1.618,'Hello World'])
set5={3.14,1.618,True,False,2023}


# printing two sets at a time.
set4,set5

({1.618, 3.14, 'Hello Python', 'Hello World'},
 {False, True, 1.618, 3.14, 2023})

# To find the intersect fo two sets using &

In [41]:
intersection=set4&set5
print(intersection)

{1.618, 3.14}

In [43]:
#Intersection to another method
set4.intersection(set5)

{1.618, 3.14}

# difference() funciton
 
 * To find the difference between two sets.

In [47]:
print(set4.difference(set5))
print(set5.difference(set4))

# The same process can make using substraction operator as follow: 

print(set4-set5)
print(set5-set4)

{'Hello Python', 'Hello World'}
{False, True, 2023}
{'Hello Python', 'Hello World'}
{False, True, 2023}

# union() function
 
 * It corresponds to all elements in both sets

In [49]:
print(set4.union(set5))
print(set5.union(set4))

{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 2023}
{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 2023}

# Set comparison

In [51]:
print(set4>set5)
print(set4<set5)

False
False

In [57]:
set6={1,2,3,4}
set7={1,2,3,4,6}

print(set6>set7)
print(set6<set7)
print(set7>set6)
print(set6==set7)

False
True
True
False