# 5. Sets in Python

 * Set is one of 4 built-in data types in Python used to store collections of data including List, Tuple, and Dictionary.
 * Sets are unordered, but you can remove items and add new items.
 * Set elements are unique. Duplicate elements are not allowed.
 * A set itself may be modified, but the elements contained in the set must be of an  immutable type.
 * Sets are used to store multiple items in a single variable.
 * You can denote a set with a pair of curly brackets {}.

In [6]:
# The empty set of curly braces denotes the empty dictionary, not empty set.

x = {}
print(x)
print(type(x))

{}
<class 'dict'>

In [7]:
y = set()
print(y)
print(type(y))

set()
<class 'set'>

In [10]:
# Take a example:

set1={'Hello','Python',3.14,'Hello World',3.14,1.618,True,False,2023,4,4,4,4,4,4,}
print(set1)

{False, 1.618, True, 3.14, 4, 2023, 'Hello World', 'Hello', 'Python'}

In [12]:
nlis=['Hello','Python',3.14,'Hello World',3.14,1.618,True,False,2023,4,4,4,4,4,4]
print(nlis)

# Convert the list into set

set2=set(nlis)
print(set2)

['Hello', 'Python', 3.14, 'Hello World', 3.14, 1.618, True, False, 2023, 4, 4, 4, 4, 4, 4]
{False, 1.618, True, 3.14, 4, 2023, 'Hello World', 'Hello', 'Python'}

# Set operations

In [1]:
# Take a sample set.
set3={'Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023}
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

In [2]:
set4=set(['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023])
set4

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

# add() function

 * To add an element into a set, We use the funtion add(), If the same element is added to the set,  nothing will heppen because the set accepts no duplicates.

In [18]:
# Addition of an element to the set.

set4=set(['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023])

print(set4)

set4.add('Hi, Python')
print(set4)

{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 2023}
{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 'Hi, Python', 2023}

In [13]:
set4.add('Hi, Python')
print(set4)

{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 'Hi, Python', 2023, 'Hi, Pytho'}

# update() function

 * To add multiple elements into the set

In [23]:
x_set={6,7,8,9}
print(x_set)

{8, 9, 6, 7}

In [24]:
x_set.update({3,4,5,6,6,6,6,6,6,6,})
print(x_set)

{3, 4, 5, 6, 7, 8, 9}

# remove() function

 * To remove an element from the set

In [25]:
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

In [27]:
set3.remove('Hello Python')
print(set3)

{False, 1.618, True, 3.14, 'Hello World', 2023}

In [29]:
set3

{1.618, 2023, 3.14, False, 'Hello World', True}

# discard() funtions

It leaves the set unchange if the element to be deleted is not available in the set.

In [30]:
set3.discard(3.14)
set3

{1.618, 2023, False, 'Hello World', True}

In [31]:
set3.discard(3.14)
set3

{1.618, 2023, False, 'Hello World', True}

In [32]:
set3.discard('Durgesh')
set3

{1.618, 2023, False, 'Hello World', True}

In [33]:
set3.remove('Durgesh')
set3

KeyError: 'Durgesh'

In [38]:
# To verify if the element is in the set.

print(set3)

print(1.618 in set3)
print(True not in set3)

{False, 1.618, True, 'Hello World', 2023}
True
False

# Logical Operations in sets

In [39]:
set4=set(['Hello Python',3.14,1.618,'Hello World'])
set5={3.14,1.618,True,False,2023}


# printing two sets at a time.
set4,set5

({1.618, 3.14, 'Hello Python', 'Hello World'},
 {False, True, 1.618, 3.14, 2023})

# To find the intersect fo two sets using &

In [41]:
intersection=set4&set5
print(intersection)

{1.618, 3.14}

In [43]:
#Intersection to another method
set4.intersection(set5)

{1.618, 3.14}

# difference() funciton
 
 * To find the difference between two sets.

In [47]:
print(set4.difference(set5))
print(set5.difference(set4))

# The same process can make using substraction operator as follow: 

print(set4-set5)
print(set5-set4)

{'Hello Python', 'Hello World'}
{False, True, 2023}
{'Hello Python', 'Hello World'}
{False, True, 2023}

# union() function
 
 * It corresponds to all elements in both sets

In [49]:
print(set4.union(set5))
print(set5.union(set4))

{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 2023}
{False, 1.618, True, 3.14, 'Hello Python', 'Hello World', 2023}

# Set comparison

In [51]:
print(set4>set5)
print(set4<set5)

False
False

In [57]:
set6={1,2,3,4}
set7={1,2,3,4,6}

print(set6>set7)
print(set6<set7)
print(set7>set6)
print(set6==set7)

False
True
True
False

In [1]:
a= {'Hello World','Hye!',45,7,1100,True,False,(1,2,3,45)}
b={'Good Morning','Hello',45,1100,1200,False,(1,2,3)}

In [1]:
# Write a python program to create a set and display it.
# Write a python program ot add members to a set.
# Write a pyhton program to remove item(s) from a given set.
# Write a python program to remove an item from a set if it is present in the set.
# Write a python program to create an intersection of sets.
# Write a python program to create a union of sets.
# Write a pyhton program to create set difference.
# Write a python program to to create a shallow copy of sets.
# Write a python program to to remove all elements from a ge=iven set.
# Write a pyhton program to find the maximum and minimum values in a set.
# Write a python program to find the length of a set.
# Write a python program to check if a given value is present in a set or not.
# Write a python program to check if two given sets have no elements in common.

# min(),max(),sum() functions.

In [8]:
a = [1,1,1,2,2,2,3,4,5,6]  # Take a list
b = {1,1,1,2,2,2,3,4,5,6}  # Take a set

print('The minimum number of a is:',min(a))
print('The maximum number of a is:',max(a))
print('The minimum number of b is:',min(b))
print('The maximum number of b is:',max(b))
print('The sum of a is:',sum(a))
print('The sum of b is:',sum(b))

The minimum number of a is: 1
The maximum number of a is: 6
The minimum number of b is: 1
The maximum number of b is: 6
The sum of a is: 27
The sum of b is: 21

# No mutable sequence in a set

 * A set can not have mutable elements such as list or dictionary in it. If any, it returns error as follows:

In [11]:
set6={'Python',1,2,3,[1,2,3]}
set6

TypeError: unhashable type: 'list'

# Index() function

 * This function does not work in set since the set is unordered collections

In [12]:
set7={1,2,3,4}
set7[0]

TypeError: 'set' object is not subscriptable

# Copy the set

In [22]:
set8={1,3,4,5,6,8}
print(set8)
set9=set8
print(set9)
set8.add(11)
print(set8)
print(set9)


'''
As you see that although the number 11 is added into the set8, the added number 
is also added into set9.
'''

{1, 3, 4, 5, 6, 8}
{1, 3, 4, 5, 6, 8}
{1, 3, 4, 5, 6, 8, 11}
{1, 3, 4, 5, 6, 8, 11}

'\nAs you see that although the number 11 is added into the set8, the added number \nis also added into set9.\n'

# Copy() function

 * It returns a shallow copy of the original set.

In [21]:
set8={1,2,3,4,5,6}
print(set8)
set9=set8.copy()
print(set9)
set8.add(7)
print(set8)
print(set9)


"""
When this function is used, the original set stays unmodified.
A new copy stored in another of memory locataion is created.
The change made in one copy wasn't reflect in another.
"""

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}

"\nWhen this function is used, the original set stays unmodified.\nA new copy stored in another of memory locataion is created.\nThe change made in one copy wasn't reflect in another.\n"

# clear() function

 * It removes all element in the set and then do the set empty.

In [25]:
x = {0,1,2,3,4,5,6,7,8,9}
print(x)
x.clear()
print(x)
print(type(x))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()
<class 'set'>

# pop() function

 * It removes and returns an arbitrary set element.

In [27]:
x = {0,1,2,3,4,5,6,7,8,9}
print(x)
x.pop()
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
x = {1,2,3,4,5,6,7,8,9}
print(x)
x.pop()
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 6, 7, 8, 9}